src/etc/wsdl/Analysis.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.1-b03-. -->
<definitions targetNamespace="http://org.soaplab.2" name="Analysis" xmlns:tns="http://org.soaplab.2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://services.soaplab.org/" schemaLocation="Analysis_schema1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://org.soaplab.2" schemaLocation="Analysis_schema2.xsd"/>
    </xsd:schema>
  </types>
  <message name="describe">
    <part name="parameters" element="tns:describe"/>
  </message>
  <message name="describeResponse">
    <part name="parameters" element="tns:describeResponse"/>
  </message>
  <message name="SoaplabException">
    <part name="fault" element="tns:SoaplabException"/>
  </message>
  <message name="getInputSpec">
    <part name="parameters" element="tns:getInputSpec"/>
  </message>
  <message name="getInputSpecResponse">
    <part name="parameters" element="tns:getInputSpecResponse"/>
  </message>
  <message name="getResultSpec">
    <part name="parameters" element="tns:getResultSpec"/>
  </message>
  <message name="getResultSpecResponse">
    <part name="parameters" element="tns:getResultSpecResponse"/>
  </message>
  <message name="getAnalysisType">
    <part name="parameters" element="tns:getAnalysisType"/>
  </message>
  <message name="getAnalysisTypeResponse">
    <part name="parameters" element="tns:getAnalysisTypeResponse"/>
  </message>
  <message name="createJob">
    <part name="parameters" element="tns:createJob"/>
  </message>
  <message name="createJobResponse">
    <part name="parameters" element="tns:createJobResponse"/>
  </message>
  <message name="runNotifiable">
    <part name="parameters" element="tns:runNotifiable"/>
  </message>
  <message name="runNotifiableResponse">
    <part name="parameters" element="tns:runNotifiableResponse"/>
  </message>
  <message name="createAndRun">
    <part name="parameters" element="tns:createAndRun"/>
  </message>
  <message name="createAndRunResponse">
    <part name="parameters" element="tns:createAndRunResponse"/>
  </message>
  <message name="createAndRunNotifiable">
    <part name="parameters" element="tns:createAndRunNotifiable"/>
  </message>
  <message name="createAndRunNotifiableResponse">
    <part name="parameters" element="tns:createAndRunNotifiableResponse"/>
  </message>
  <message name="runAndWaitFor">
    <part name="parameters" element="tns:runAndWaitFor"/>
  </message>
  <message name="runAndWaitForResponse">
    <part name="parameters" element="tns:runAndWaitForResponse"/>
  </message>
  <message name="terminate">
    <part name="parameters" element="tns:terminate"/>
  </message>
  <message name="terminateResponse">
    <part name="parameters" element="tns:terminateResponse"/>
  </message>
  <message name="getLastEvent">
    <part name="parameters" element="tns:getLastEvent"/>
  </message>
  <message name="getLastEventResponse">
    <part name="parameters" element="tns:getLastEventResponse"/>
  </message>
  <message name="getNotificationDescriptor">
    <part name="parameters" element="tns:getNotificationDescriptor"/>
  </message>
  <message name="getNotificationDescriptorResponse">
    <part name="parameters" element="tns:getNotificationDescriptorResponse"/>
  </message>
  <message name="getCharacteristics">
    <part name="parameters" element="tns:getCharacteristics"/>
  </message>
  <message name="getCharacteristicsResponse">
    <part name="parameters" element="tns:getCharacteristicsResponse"/>
  </message>
  <message name="getResults">
    <part name="parameters" element="tns:getResults"/>
  </message>
  <message name="getResultsResponse">
    <part name="parameters" element="tns:getResultsResponse"/>
  </message>
  <message name="getSomeResults">
    <part name="parameters" element="tns:getSomeResults"/>
  </message>
  <message name="getSomeResultsResponse">
    <part name="parameters" element="tns:getSomeResultsResponse"/>
  </message>
  <message name="getResultsInfo">
    <part name="parameters" element="tns:getResultsInfo"/>
  </message>
  <message name="getResultsInfoResponse">
    <part name="parameters" element="tns:getResultsInfoResponse"/>
  </message>
  <message name="run">
    <part name="parameters" element="tns:run"/>
  </message>
  <message name="runResponse">
    <part name="parameters" element="tns:runResponse"/>
  </message>
  <message name="destroy">
    <part name="parameters" element="tns:destroy"/>
  </message>
  <message name="destroyResponse">
    <part name="parameters" element="tns:destroyResponse"/>
  </message>
  <message name="getStatus">
    <part name="parameters" element="tns:getStatus"/>
  </message>
  <message name="getStatusResponse">
    <part name="parameters" element="tns:getStatusResponse"/>
  </message>
  <message name="waitFor">
    <part name="parameters" element="tns:waitFor"/>
  </message>
  <message name="waitForResponse">
    <part name="parameters" element="tns:waitForResponse"/>
  </message>
  <portType name="AnalysisService">
    <operation name="describe">
      <input message="tns:describe"/>
      <output message="tns:describeResponse"/>
      <fault message="tns:SoaplabException" name="SoaplabException"/>
    </operation>
    <operation name="getInputSpec">
      <input message="tns:getInputSpec"/>
      <output message="tns:getInputSpecResponse"/>
      <fault message="tns:SoaplabException" name="SoaplabException"/>
    </operation>
    <operation name="getResultSpec">
      <input message="tns:getResultSpec"/>
      <output message="tns:getResultSpecResponse"/>
      <fault message="tns:SoaplabException" name="SoaplabException"/>
    </operation>
    <operation name="getAnalysisType">
      <input message="tns:getAnalysisType"/>
      <output message="tns:getAnalysisTypeResponse"/>
      <fault message="tns:SoaplabException" name="SoaplabException"/>
    </operation>
    <operation name="createJob">
      <input message="tns:createJob"/>
      <output message="tns:createJobResponse"/>
      <fault message="tns:SoaplabException" name="SoaplabException"/>
    </operation>
    <operation name="runNotifiable">
      <input message="tns:runNotifiable"/>
      <output message="tns:runNotifiableResponse"/>
      <fault message="tns:SoaplabException" name="SoaplabException"/>
    </operation>
    <operation name="createAndRun">
      <input message="tns:createAndRun"/>
      <output message="tns:createAndRunResponse"/>
      <fault message="tns:SoaplabException" name="SoaplabException"/>
    </operation>
    <operation name="createAndRunNotifiable">
      <input message="tns:createAndRunNotifiable"/>
      <output message="tns:createAndRunNotifiableResponse"/>
      <fault message="tns:SoaplabException" name="SoaplabException"/>
    </operation>
    <operation name="runAndWaitFor">
      <input message="tns:runAndWaitFor"/>
      <output message="tns:runAndWaitForResponse"/>
      <fault message="tns:SoaplabException" name="SoaplabException"/>
    </operation>
    <operation name="terminate">
      <input message="tns:terminate"/>
      <output message="tns:terminateResponse"/>
      <fault message="tns:SoaplabException" name="SoaplabException"/>
    </operation>
    <operation name="getLastEvent">
      <input message="tns:getLastEvent"/>
      <output message="tns:getLastEventResponse"/>
      <fault message="tns:SoaplabException" name="SoaplabException"/>
    </operation>
    <operation name="getNotificationDescriptor">
      <input message="tns:getNotificationDescriptor"/>
      <output message="tns:getNotificationDescriptorResponse"/>
      <fault message="tns:SoaplabException" name="SoaplabException"/>
    </operation>
    <operation name="getCharacteristics">
      <input message="tns:getCharacteristics"/>
      <output message="tns:getCharacteristicsResponse"/>
      <fault message="tns:SoaplabException" name="SoaplabException"/>
    </operation>
    <operation name="getResults">
      <input message="tns:getResults"/>
      <output message="tns:getResultsResponse"/>
      <fault message="tns:SoaplabException" name="SoaplabException"/>
    </operation>
    <operation name="getSomeResults">
      <input message="tns:getSomeResults"/>
      <output message="tns:getSomeResultsResponse"/>
      <fault message="tns:SoaplabException" name="SoaplabException"/>
    </operation>
    <operation name="getResultsInfo">
      <input message="tns:getResultsInfo"/>
      <output message="tns:getResultsInfoResponse"/>
      <fault message="tns:SoaplabException" name="SoaplabException"/>
    </operation>
    <operation name="run">
      <input message="tns:run"/>
      <output message="tns:runResponse"/>
      <fault message="tns:SoaplabException" name="SoaplabException"/>
    </operation>
    <operation name="destroy">
      <input message="tns:destroy"/>
      <output message="tns:destroyResponse"/>
      <fault message="tns:SoaplabException" name="SoaplabException"/>
    </operation>
    <operation name="getStatus">
      <input message="tns:getStatus"/>
      <output message="tns:getStatusResponse"/>
      <fault message="tns:SoaplabException" name="SoaplabException"/>
    </operation>
    <operation name="waitFor">
      <input message="tns:waitFor"/>
      <output message="tns:waitForResponse"/>
      <fault message="tns:SoaplabException" name="SoaplabException"/>
    </operation>
  </portType>
  <binding name="AnalysisBinding" type="tns:AnalysisService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="describe">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SoaplabException">
        <soap:fault name="SoaplabException" use="literal"/>
      </fault>
    </operation>
    <operation name="getInputSpec">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SoaplabException">
        <soap:fault name="SoaplabException" use="literal"/>
      </fault>
    </operation>
    <operation name="getResultSpec">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SoaplabException">
        <soap:fault name="SoaplabException" use="literal"/>
      </fault>
    </operation>
    <operation name="getAnalysisType">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SoaplabException">
        <soap:fault name="SoaplabException" use="literal"/>
      </fault>
    </operation>
    <operation name="createJob">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SoaplabException">
        <soap:fault name="SoaplabException" use="literal"/>
      </fault>
    </operation>
    <operation name="runNotifiable">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SoaplabException">
        <soap:fault name="SoaplabException" use="literal"/>
      </fault>
    </operation>
    <operation name="createAndRun">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SoaplabException">
        <soap:fault name="SoaplabException" use="literal"/>
      </fault>
    </operation>
    <operation name="createAndRunNotifiable">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SoaplabException">
        <soap:fault name="SoaplabException" use="literal"/>
      </fault>
    </operation>
    <operation name="runAndWaitFor">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SoaplabException">
        <soap:fault name="SoaplabException" use="literal"/>
      </fault>
    </operation>
    <operation name="terminate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SoaplabException">
        <soap:fault name="SoaplabException" use="literal"/>
      </fault>
    </operation>
    <operation name="getLastEvent">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SoaplabException">
        <soap:fault name="SoaplabException" use="literal"/>
      </fault>
    </operation>
    <operation name="getNotificationDescriptor">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SoaplabException">
        <soap:fault name="SoaplabException" use="literal"/>
      </fault>
    </operation>
    <operation name="getCharacteristics">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SoaplabException">
        <soap:fault name="SoaplabException" use="literal"/>
      </fault>
    </operation>
    <operation name="getResults">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SoaplabException">
        <soap:fault name="SoaplabException" use="literal"/>
      </fault>
    </operation>
    <operation name="getSomeResults">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SoaplabException">
        <soap:fault name="SoaplabException" use="literal"/>
      </fault>
    </operation>
    <operation name="getResultsInfo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SoaplabException">
        <soap:fault name="SoaplabException" use="literal"/>
      </fault>
    </operation>
    <operation name="run">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SoaplabException">
        <soap:fault name="SoaplabException" use="literal"/>
      </fault>
    </operation>
    <operation name="destroy">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SoaplabException">
        <soap:fault name="SoaplabException" use="literal"/>
      </fault>
    </operation>
    <operation name="getStatus">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SoaplabException">
        <soap:fault name="SoaplabException" use="literal"/>
      </fault>
    </operation>
    <operation name="waitFor">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SoaplabException">
        <soap:fault name="SoaplabException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="Analysis">
    <port name="Analysis" binding="tns:AnalysisBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

