src/etc/wsdl/AnalysisList.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.1-b03-. -->
<definitions targetNamespace="http://org.soaplab.2" name="AnalysisList" xmlns:tns="http://org.soaplab.2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://org.soaplab.2" schemaLocation="AnalysisList_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getAvailableCategories">
    <part name="parameters" element="tns:getAvailableCategories"/>
  </message>
  <message name="getAvailableCategoriesResponse">
    <part name="parameters" element="tns:getAvailableCategoriesResponse"/>
  </message>
  <message name="getAvailableAnalyses">
    <part name="parameters" element="tns:getAvailableAnalyses"/>
  </message>
  <message name="getAvailableAnalysesResponse">
    <part name="parameters" element="tns:getAvailableAnalysesResponse"/>
  </message>
  <message name="getAvailableAnalysesWithDescription">
    <part name="parameters" element="tns:getAvailableAnalysesWithDescription"/>
  </message>
  <message name="getAvailableAnalysesWithDescriptionResponse">
    <part name="parameters" element="tns:getAvailableAnalysesWithDescriptionResponse"/>
  </message>
  <message name="getAvailableAnalysesInCategory">
    <part name="parameters" element="tns:getAvailableAnalysesInCategory"/>
  </message>
  <message name="getAvailableAnalysesInCategoryResponse">
    <part name="parameters" element="tns:getAvailableAnalysesInCategoryResponse"/>
  </message>
  <message name="getServiceLocation">
    <part name="parameters" element="tns:getServiceLocation"/>
  </message>
  <message name="getServiceLocationResponse">
    <part name="parameters" element="tns:getServiceLocationResponse"/>
  </message>
  <portType name="AnalysisListService">
    <operation name="getAvailableCategories">
      <input message="tns:getAvailableCategories"/>
      <output message="tns:getAvailableCategoriesResponse"/>
    </operation>
    <operation name="getAvailableAnalyses">
      <input message="tns:getAvailableAnalyses"/>
      <output message="tns:getAvailableAnalysesResponse"/>
    </operation>
    <operation name="getAvailableAnalysesWithDescription">
      <input message="tns:getAvailableAnalysesWithDescription"/>
      <output message="tns:getAvailableAnalysesWithDescriptionResponse"/>
    </operation>
    <operation name="getAvailableAnalysesInCategory">
      <input message="tns:getAvailableAnalysesInCategory"/>
      <output message="tns:getAvailableAnalysesInCategoryResponse"/>
    </operation>
    <operation name="getServiceLocation">
      <input message="tns:getServiceLocation"/>
      <output message="tns:getServiceLocationResponse"/>
    </operation>
  </portType>
  <binding name="AnalysisListBinding" type="tns:AnalysisListService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getAvailableCategories">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAvailableAnalyses">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAvailableAnalysesWithDescription">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAvailableAnalysesInCategory">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getServiceLocation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="AnalysisList">
    <port name="AnalysisList" binding="tns:AnalysisListBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

